<p-toast></p-toast>
<div class="cart_head">
  <h1 *ngIf="lang == 'eng'; else UkrainianTitle">Your Cart</h1>
  <ng-template #UkrainianTitle>
    <h1>Ваша Корзина</h1>
  </ng-template>
</div>
<hr class="line" />
<div *ngIf="showCart; else noCart">
  <div class="cart_body">
    <div
      class="cart_element"
      *ngFor="
        let item of cartFood | paginate : { itemsPerPage: 6, currentPage: page }
      "
    >
      <div class="cart_item">
        <img src="{{ item.img }}" alt="" />
        <div class="item_info">
          <p *ngIf="lang == 'eng'; else UkrainianName">{{ item.name }}</p>
          <ng-template #UkrainianName>
            <p>{{ item.ukrName }}</p>
          </ng-template>
          <p>{{ item.calories }} ccal</p>
          <p>${{ item.price }}</p>
        </div>
        <div class="item_buttons">
          <button
            class="btn_delete"
            (click)="onDelete(item)"
            *ngIf="lang == 'eng'; else UkrainianDel"
          >
            Delete
          </button>
          <ng-template #UkrainianDel>
            <button class="btn_delete" (click)="onDelete(item)">
              Вилучити
            </button>
          </ng-template>
          <div class="btn_count">
            <button (click)="onMinus(item)">-</button>
            <p>{{ item.count }}</p>
            <button (click)="onPlus(item)">+</button>
          </div>
        </div>
      </div>
      <hr class="line" />
    </div>
  </div>
  <pagination-controls
    (pageChange)="page = $event"
    class="paginator"
    [hidden]="hidePaginate"
  ></pagination-controls>

  <div class="cart_total">
    <div class="total_content">
      <h1 *ngIf="lang == 'eng'; else UkrainianTotal">
        Total ${{ totalPrice }}
      </h1>
      <ng-template #UkrainianTotal>
        <h1>До сплати ${{ totalPrice }}</h1>
      </ng-template>
    </div>
    <div>
      <button
        class="btn_buy"
        (click)="onBuy()"
        *ngIf="lang == 'eng'; else UkrainianBuy"
      >
        Make Purchase
      </button>
      <ng-template #UkrainianBuy>
        <button class="btn_buy" (click)="onBuy()">Надіслати Замовлення</button>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #noCart>
  <div class="empty_cart" *ngIf="lang == 'eng'; else UkrainianNoCart">
    <h1>Your cart is empty :(</h1>
    <h2>
      If you want to order, go back to our menu page and choose an order that
      will brighten up your mood for the day :D
    </h2>
    <button class="btn_buy" (click)="closeSidebar()">Go Back</button>
  </div>
  <ng-template #UkrainianNoCart>
    <div class="empty_cart">
      <h1>Ваша корзина порожня :(</h1>
      <h2>
        Якщо ви хочете зробити замовлення, поверніться на сторінку нашого меню
        та оберіть те, що підніме вам настрій на цілий день :D
      </h2>
      <button class="btn_buy" (click)="closeSidebar()">Назад</button>
    </div>
  </ng-template>
</ng-template>
