input {
    border: none;
}

.Rev {
    padding-left: 150px;
    padding-right: 100px;
    height: 1200px;
    background-color: rgb(48, 48, 48);
    color: #fff;
}

.Rev > h1 {
    text-align: center;
    color: #e0a80d;
    margin: 0;
    padding-top: 50px;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.Res_content {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Res_box {
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 350px;
    height: 420px;
    cursor: pointer;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;  
}

.Res_box:hover {
    transform: scale(1.05);
    background-color: #e0a80d;
}

.Res_box > img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 20px;
    align-self: center;
}



.Weather {
    background-color: rgb(48, 48, 48);
    color: #fff;
    padding-left: 400px;
    padding-right: 400px;
}
.ajax-section {
    margin-top: 20px;
    border: 2px solid rgb(48, 48, 48);
}
.top-banner {
    padding-left: 30%;
}
.heading {
    margin: 0;
    color: #e0a80d;
    font-size: 50px;
}
.cities {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
}
.top-banner form {
    position: relative;
    display: flex;
    align-items: center;
}
.top-banner form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 2px solid #fff;
    
    background: none;
    outline: none;
    color: #fff;
}
.top-banner form input::placeholder {
    color: currentColor; 
    font-family: 'Oswald', sans-serif;
}
.top-banner form button {
    margin-left: 10px; 
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    border: 3px solid #fff;
    background-color: rgba(28,28,28,0);
    color: #fff;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.top-banner form button:hover {
    background-color: #fff;
    color: #121215;
} 



ul {
    list-style: none;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.city {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    color: #121215;
    background-color: rgb(222, 221, 221);
    border-radius: 20px;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
}
.city-name {
    padding-top: 15px;
    font-size: 40px;
    cursor: pointer;

    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.city-name:hover {
    letter-spacing: 1px;
    color: #e0a80d;
}
.city-temp {
    padding-left: 60px;
    padding-top: 20px;
    font-size: 70px;
}
.city figure {
    padding-left: 20px;
}