@import '../../../../../mixin.scss';

.menu_box {
  color: white;
  padding-top: 50px;
  .photo {
    cursor: pointer;
    width: 41vw;
    height: auto;
  }
  .big_photo {
    transition: transform 0.5s;
    position: relative;
    margin: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    animation: 1s show ease;
    h1 {
      @apply absolute top-0 uppercase cursor-pointer;
      padding: 10px 20px 20px 20px;
      font-size: 2vw;
    }
    h2 {
      @apply absolute top-0 uppercase cursor-pointer;
      padding: 5vw 20px 20px 20px;
      font-size: 5vw;
    }
  }
  .couple {
    .small_photo {
      transition: transform 0.5s;
      position: relative;
      margin: 30px 30px 30px 30px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      border-radius: 10px;
      animation: 1s show ease;
      h1 {
        @apply absolute top-0 uppercase cursor-pointer;
        padding: 10px 20px 20px 20px;
        font-size: 2vw;
      }
      h2 {
        @apply absolute top-0 uppercase cursor-pointer;
        padding: 5vw 20px 20px 20px;
        font-size: 5vw;
      }
    }
  }

  .big_photo:hover {
    transform: scale(1.015);
  }
  .small_photo:hover {
    transform: scale(1.015);
  }
}
