<div class="menu_box">
  <div class="grid grid-cols-2 gap-0 place-items-center h-86 ...">
    <div class="big_photo">
      <img
        src="https://poetic-pothos-84995b.netlify.app/assets/img/banner-grid/b1.png"
        alt=""
        class="photo"
      />
      <h1>Try in today</h1>
      <h2>Royal Burger</h2>
    </div>
    <div class="couple">
      <div class="small_photo">
        <img
          src="https://poetic-pothos-84995b.netlify.app/assets/img/banner-grid/s1.png"
          alt=""
          class="photo"
        />
        <h1>Try in today</h1>
        <h2>Light Burger</h2>
      </div>
      <div class="small_photo">
        <img
          src="https://poetic-pothos-84995b.netlify.app/assets/img/banner-grid/s2.png"
          alt=""
          class="photo"
        />
        <h1>Try in today</h1>
        <h2>Beef Burger</h2>
      </div>
    </div>
  </div>
</div>
