$header_color: #363636;
$font_white: #fff;
$transparent_color: rgba(28,28,28,0);

body {
    margin: 0;
    padding: 0;
}
header {
    background-color: $header_color;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px; padding-right: 200px;
    position: fixed;
    width: 100%;
    z-index: 1500;

    .logo {
        padding-top: 31px;
        color: $font_white;
        font-size: 38px;
    }

    .navbar {
        padding-left: 500px;
        padding-top: 40px;
    }

    a {
        color: $font_white;
        text-decoration: none;
        padding-right: 40px;
        font-size: 20px;
    }
    .icon_btns{
        padding-left: 350px;
        padding-top: 35px;

        button{
            height: 30px;
            width: 30px;
            background-color: $transparent_color;
            border: none;
            background-size: cover;
            margin-right: 16px;
            cursor: pointer;
        }
    }
}