<div class="bun_body">
  <div class="bun_slide">
    <div class="bun_text">
      <h3>Always Tasty Burgers</h3>
      <h1>Choose & Enjoy</h1>
      <p>
        You can enjoy amazing burgers, sandwiches and paninis in our
        establishment! They can always be accompanied by crispy fries and cold
        water. Only in our cafe you can try a many different burgers, with
        recipes drawn from all over the world.
      </p>
    </div>
    <div class="bun_image">
      <img
        src="https://poetic-pothos-84995b.netlify.app/assets/img/events/event_1.jpg"
        alt=""
      />
    </div>
  </div>
</div>
