@import '../../../../mixin.scss';

.main {
  @apply pl-10 pr-10;
  background-image: url('https://poetic-pothos-84995b.netlify.app/assets/img/banner/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 121px;
  color: #3d2514 !important;
  .blocks {
    @include for-size(before-main) {
      @apply flex justify-between;
    }
    @include for-size(Windows) {
      @apply flex justify-between;
    }
    .title {
      margin: 12vw 0 0 0;
      h1 {
        @apply uppercase;
        text-shadow: #fee7ba 3px 3px;
        font-size: 5vw;
      }
      h3 {
        @apply uppercase;
        font-size: 1.5vw;
      }
    }
    .photo {
      @apply flex justify-end;
      img {
        width: 45vw;
        height: auto;
        margin: 20px 20px 20px 20px;
      }
    }
  }
}
