
body {
    margin: 0;
}

.header > img {
    height: 320px;
    width: auto;
    padding-left: 20px;
}

.header {
    background-color: #6B9999;
    height: 1500px;
    width: 360px;
    display: table;
    margin-left: 85px;
    padding-top: 160px;
    position: relative;
    top: 0;
    left: 0;
}

.header > section {
    padding-left: 32px;
    padding-right: 32px;
    color: aliceblue;
    padding-top: 125px;
}

.header > section p{
    font-family: 'Lora', serif;
    letter-spacing: 2px;
    line-height: 180%;
}

.header > section p img{
    width: 25px;
    height: auto;
    padding-right: 15px;
}

.header > section h1{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
}

.header > section > div{
    height: 100px;
}

.field{
    background-color: #EBCABB;
    position: absolute;
    width: 100%;
    height: 320px;
    top: 140px;
    padding-left: 500px;
    padding-top: 50px;
    line-height: 180%;
}

.field > h1 {
    font-family: 'Lato', sans-serif; 
    font-size: 80px;
}

.field > p {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 30px;
}