<div class="header">
  <div class="logo_part">
    <img
      class="photo"
      src="https://img.icons8.com/pastel-glyph/64/null/hamburger--v1.png"
    />
    <h1 class="title">Burger Hub</h1>
  </div>
  <div class="navbar">
    <div class="nav_content">
      <button
        class="pi pi-home ease-out duration-300"
        routerLink="home"
      ></button>
    </div>
    <div class="nav_arrow"><span class="pi pi-angle-right"></span></div>
    <div class="nav_content">
      <button class="ease-out duration-300">
        <a routerLink="menu">Menu</a>
      </button>
    </div>
    <div class="nav_arrow"><span class="pi pi-angle-right"></span></div>
    <div class="nav_content">
      <button class="ease-out duration-300">Events</button>
    </div>
    <div class="nav_arrow"><span class="pi pi-angle-right"></span></div>
    <div class="nav_content">
      <button class="ease-out duration-300">
        <a routerLink="contact">Contact Us</a>
      </button>
    </div>
  </div>
</div>
