.header {
  @apply pl-10 pr-10  fixed z-10;
  background-image: url('https://poetic-pothos-84995b.netlify.app/assets/img/banner/bg.png');
  width: 100%;
  .logo_part {
    @apply flex justify-between;
    width: 210px;
    .photo {
      width: 65px;
    }
    .title {
      @apply pt-5 text-2xl uppercase font-bold;
    }
  }
  .navbar {
    @apply flex justify-end;
    .nav_content {
      padding: 1rem;
      button {
        width: 30px;
        height: auto;
      }
      button:hover {
        transform: scale(1.2);
      }
    }
    .nav_arrow {
      padding: 1rem 0rem 0rem 0rem;
    }
  }
}
::ng-deep {
  .p-sidebar-left {
    width: 450px !important;
  }
  .p-sidebar {
    background: rgb(246, 242, 226);
  }
  .p-sidebar-content {
    overflow-y: scroll !important;
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important;
  }
  .p-sidebar-content::-webkit-scrollbar {
    display: none;
  }
}
