<div class="header">
  <div class="logo_part">
    <img
      class="photo"
      src="https://img.icons8.com/pastel-glyph/64/null/hamburger--v1.png"
    />
    <h1 class="title">Burger Hub</h1>
  </div>
  <div class="navbar">
    <div class="nav_content">
      <button
        class="pi pi-home ease-out duration-300"
        routerLink="home"
      ></button>
    </div>
    <div class="nav_arrow"><span class="pi pi-angle-right"></span></div>
    <div class="nav_content">
      <button
        class="pi pi-book ease-out duration-300"
        routerLink="menu"
      ></button>
    </div>
    <div class="nav_arrow"><span class="pi pi-angle-right"></span></div>
    <div class="nav_content">
      <button class="pi pi-shopping-cart ease-out duration-300"></button>
    </div>
    <div class="nav_arrow"><span class="pi pi-angle-right"></span></div>
    <div class="nav_content">
      <button class="pi pi-user ease-out duration-300"></button>
    </div>
  </div>
</div>
