html { overflow-x: hidden; }
body { 
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
}



/* HEADER */
header {
    background-color: #2b2c2c;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1500;
}
header > a > img {
    width: 50px;
    height: auto;
    padding-left: 400px;
}

.navbar > a {
    display: initial;
    font-size: 15px;
    color: #7d8791;
    font-family: 'Inter Tight', sans-serif;
    text-decoration: none;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.navbar > a:hover {
    color: #fff;
}
.navbar {
    padding-left: 400px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
}

.h_burger {
    border: none;
    cursor: pointer;
    display: none;
    background-color: rgba(28,28,28,0)
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2c2c;
    min-width: 160px;
    overflow: auto;
}
.dropdown-content a {
    font-family: 'Inter Tight', sans-serif;
    color: #7d8791;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.dropdown-content a:hover {background-color: #2d2e2e}
.show {display:block;}




/* HOME */
.Home {
    padding-top: 100px;
    width: 100%;
    height: 800px;
    background-image: url('/practice3/images/home_photo.png'); 
    color: #fff;
    font-family: 'Inter Tight', sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
}
.Home > div {
    padding-top: 250px;
    text-align: center;
}
.Home > div > p {
    font-size: 15px;
}
.Home > div > h1 {
    font-size: 70px;
    color: #e0a80d;
    font-weight: 900;
    letter-spacing: 3px;
}

/* ABOUT */
.about {
    padding-top: 120px;
    background-color: #2d2e2e;
    color: #7d8791;
    width: 100%;
    height: 1400px;
    padding-left: 400px;
    font-family: 'Inter Tight', sans-serif;
}
.a_head{
    display: grid;
    grid-template-columns: 400px 750px;
}
.a_head > img {
    height: 470px;
    width: auto;
    border-radius: 5px;
}
.a_head > div {
    margin-top: -30px;
}
.a_head > div > h1 {
    color: #e0a80d;
    letter-spacing: 2px;
    font-size: 40px;
}
.a_head > div > h2 {
    padding-top: 10px;
    letter-spacing: 2px;
    line-height: 15px;
    font-size: 18px;
}
.a_head > div > p {
    line-height: 23px;
}
.a_head > div > button > a {
    text-decoration: none;
    color: #fff;
}
.a_head > div > button {
    margin-left: -10px;
    background-color: #e0a80d;
    font-family: 'Inter Tight', sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    border: 3px solid #e0a80d;
    cursor: pointer;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.a_head > div > button:hover {
    background-color: #2d2e2e;
    color: #e0a80d;
    border-color: #e0a80d;
}




/* SERVICES */
.services
{
    max-width: 1400px;
}
.services > h1 {
    color: #e0a80d;
    padding-left: 460px;
    padding-top: 150px;
    font-size: 50px;
}
.serv_box {
    display: flex;
    flex-wrap:wrap ;
    gap: 2rem;
}
.serv_box > div {
    background-color: #212222;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.serv_box > div > img{
    height: 40px;
    width: auto;
    padding-top: 25px;
    padding-left: 30px;
}
.serv_box > div > h3{
    padding-left: 30px;
    color: #fff;
    letter-spacing: 2px;

}
.serv_box > div > p{
    padding-left: 30px;
    padding-right: 40px;
    line-height: 30px;
}




/* RESEARCH */
.research {
    padding-top: 100px;
    width: 100%;
    height: 250px;
    background-image: url('/practice3/images/pexels-lukas-590016.png'); 
    color: #fff;
    font-family: 'Inter Tight', sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
}
.res_box{
    display: grid;
    grid-template-columns: 340px 340px 340px 340px;
    margin-left: 330px;
}
.res {
    width: 230px;
    text-align: center;
}
.res > img{
    width: 60px;
}
.num {
    font-family: 'Inter Tight', sans-serif;
    color: #e0a80d;
    padding-top: 10px;
    font-size: 30px;
}




/* PORTFOLIO */
.portfolio { 
    height: 1500px;
    width: 100%;
    background-color: #2d2e2e;
    font-family: 'Inter Tight', sans-serif;
}
.portfolio > h1 {
    margin: 0;
    padding-top: 150px;
    color: #e0a80d;
    text-align: center;
    font-size: 50px;
}
.port_coll {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-left: 300px;
    padding-top: 100px;
}
.port_container { 
    flex: .1 .1 20rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border: .7rem solid #e0a80d;
    border-radius: 10px;
    background-color: #e0a80d;
}
.port_container > img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    border-radius: 40px;

    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
.port_container:hover > img {
    height: 80%;
    width: 80%;
}
.port_container > h3 {
    text-transform: uppercase;
    position: absolute;
    color: #fff;
    font-size: 30px;
}
.port_icons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.port_icons > img {
    display: block;
    margin-bottom: 15px;
    height: 40px;
    width: auto;
    cursor: pointer;
}




/* CONTACTS */
.contacts {
    height: 600px;
    width: 100%;
    background-color: #2d2e2e;
}
.contacts > h1 {
    margin: 0;
    color: #e0a80d;
    text-align: center;
    font-size: 50px;
}
.c_box{
    display: flex;
    flex-wrap: wrap;
}
.c_content {
    padding-left: 400px;
    padding-top: 50px;
}
.c_reg  textarea {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-right: 30px; margin-bottom: 10px;
    padding-top: 15px; padding-left: 25px; padding-right: 25px;
    outline: none;
    resize: none;
    font-size: 15px;
}
.c_topic  textarea {
    width: 685px;
    height: 30px;
    border-radius: 10px;
    margin-right: 30px; margin-bottom: 10px;
    padding-top: 15px; padding-left: 25px; padding-right: 25px;
    outline: none;
    resize: none;
    font-size: 15px;
}
.c_text  textarea {
    width: 685px;
    height: 140px;
    border-radius: 10px;
    margin-right: 30px; margin-bottom: 10px;
    padding-top: 15px; padding-left: 25px; padding-right: 25px;
    outline: none;
    resize: none;
    font-size: 15px;
}
.c_content > button {
    background-color: #e0a80d;
    font-family: 'Inter Tight', sans-serif;
    width: 735px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    border: 3px solid #e0a80d;
    cursor: pointer;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.c_content > button:hover {
    background-color: #2d2e2e;
    color: #e0a80d;
    border-color: #e0a80d;
}
.c_info {
    padding-left: 100px;
    padding-top: 50px;
}
.c_info > div > img {
    width: 25px;
    height: auto;
    cursor: pointer;
}
.c_info > div > p {
    color: #fff;
    margin-top: 5px;
    padding-bottom: 20px;
}




/*  FOOTER */
footer {
    background-color: #212222;
    height: 140px;
    width: 100%;
    padding-left: 46%;
        
}
footer > img {
    width: 30px;
    margin-right: 10px;
    padding-top: 40px;
}

footer > p {
    color: #fff;
    padding-left: 50px;
}