<div class="modal_body">
  <img src="{{ item ? item.img : '' }}" alt="" />
  <div class="item_detail">
    <p
      class="item_composition"
      *ngIf="lang == 'eng'; else UkrainianComposition"
    >
      {{ item ? item.composition : '' }}
    </p>
    <ng-template #UkrainianComposition
      ><p class="item_composition">
        {{ item ? item.ukrComposition : '' }}
      </p></ng-template
    >
    <p>{{ item ? item.calories : '' }} ccal</p>
    <p class="item_price">${{ item ? item.price : '' }}</p>
    <div class="item_buttons">
      <button
        class="btn_buy"
        *ngIf="lang == 'eng'; else UkrainianBtn"
        (click)="ToCart(item)"
      >
        Buy
      </button>

      <ng-template #UkrainianBtn>
        <button class="btn_buy" (click)="ToCart(item)">
          Придбати
        </button></ng-template
      >
    </div>
  </div>
</div>
