<div class="func_buttons">
  <button class="func">
    <img
      src="https://static-00.iconduck.com/assets.00/dark-theme-icon-512x512-185rlszm.png"
      alt=""
    />
  </button>
  <button class="func">
    <img src="https://cdn-icons-png.flaticon.com/512/197/197572.png" alt="" />
  </button>
</div>
<div class="user_body">
  <div class="user_logo"></div>
  <div class="user_info">If you don't have an account</div>
  <button class="login">Create Account</button>
  or
  <hr />
  <button class="login">Login Account</button>
</div>
