.func_buttons {
  display: flex;
  justify-content: start;
  .func {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
    padding: 0;
    margin: 5px;
    transition: 0.1s all;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    .func_image {
      width: 30px;
      height: 30px;
      padding: 0px 1px 1px 0px;
      margin: 0;
      border-radius: 50%;
    }
  }
  .func:hover {
    transform: scale(1.1);
  }
  .func:active {
    transform: scale(1.2);
  }
}

.user_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 20px;
  .user_logo {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    background-size: 80px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
  .non_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .user_info {
      margin-top: 20px;
    }
    .login {
      width: 150px;
      height: 45px;
      background-color: #bf2222;
      border-radius: 10px;
      color: white;
      transition: all 0.1s;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .login:hover {
      background-color: #8a2222;
    }
    .login:active {
      transform: scale(1.05);
    }

    hr {
      width: 100%;
      border: 1.5px solid rgb(122, 111, 79);
      border-radius: 10px;
    }
  }
  .login_body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 15px;
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 15px;
    }
    .login_edit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .edit_button {
        width: 150px;
        height: 45px;
        background-color: #bf2222;
        border-radius: 10px;
        color: white;
        transition: all 0.1s;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .edit_button:hover {
        background-color: #8a2222;
      }
      .edit_button:active {
        transform: scale(1.05);
      }
      hr {
        width: 100%;
        border: 1.5px solid rgb(122, 111, 79);
        border-radius: 10px;
      }
    }
  }
}
