<div class="shop_title">
  <div class="grid grid-cols-1 gap-4 place-items-center text-center">
    <div class="shop_block">
      <h2>Always Tasty Burger</h2>
    </div>
    <h1>Try Our Menu Now</h1>
  </div>
</div>

<div class="shop">
  <div class="filters">
    <button (click)="filterItems('burger')">Burgers</button>
    <button (click)="filterItems('snacks')">Snacks</button>
    <button (click)="filterItems('soda')">Soda</button>
    <button (click)="filterItems('menu')">Menu</button>
    <button (click)="filterItems('')" class="del_filters">
      <i class="pi pi-sort-amount-up-alt"></i>
    </button>
  </div>
  <div class="shop_items">
    <div
      *ngFor="
        let i of filteredFood
          | paginate : { itemsPerPage: 8, currentPage: page }
      "
      class="shop_card"
    >
      <div class="item_detail">
        <img src="{{ i.img }}" alt="" (click)="getItem(i)" />
        <div class="item_text">
          <h2>{{ i.name }}</h2>
          <h4>${{ i.price }}</h4>
          <button class="btn_buy" (click)="ToCart(i)">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="paginator_container">
    <pagination-controls
      (pageChange)="page = $event"
      class="paginator"
      [hidden]="show"
    ></pagination-controls>
  </div>
</div>
<p-dialog
  header="{{ currentItem ? currentItem.name : '' }}"
  [(visible)]="visible"
  [style]="{ width: '70vw' }"
  class="modal"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-item-detail [item]="currentItem"></app-item-detail>
</p-dialog>
