@import 'primeng/resources/themes/saga-orange/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  color: #3d2514;
  background-color: rgb(246, 242, 226);
}
body::-webkit-scrollbar {
  display: none;
}
