@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&display=swap");
html { overflow-x: hidden; }
body {
    display: inline;
    margin: 0;
    font-family: 'Playfair Display', serif;
}
$bg_color: #2b1854;
$bg_color_2:#241741;
$txt_color: #fff;
$var_color: rgb(208, 164, 55);

.Cont {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:$bg_color_2;
}

.Head {
    height: 200px;
    background-color: $bg_color;
    text-align: center;
    img {
        width: 200px;
        height: auto;
    }
    
}

.About{
    height: 400px;
    div {
        height: 400px;
        width: 1000px;
        background-color: $bg_color_2;
    }
}

.Cont__container {
    background-color: $bg_color ;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    border: 5px solid $var_color;
    
    img {
        width: 100px;
        padding-left: 35%;
        height: auto;
    }
    h2{
        color: $txt_color;
        font-size: 30px;
        margin: 0;
        padding-left: 20px;
    }
    h3{
        color: $txt_color;
        font-size: 30px;
        text-align: center;
    }
    p{
        color: $txt_color;
        font-size: 20px;
        text-align: center;
    }
}

.footer{
    background-color: $bg_color;
    height: 400px;
}
