<h2>Login form</h2>
<form #registerForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" [(ngModel)]="currentUser.email" required />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="currentUser.password"
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="confirmedPassword"
      required
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="registerForm.invalid"
  >
    Register
  </button>
</form>
