@media screen and (max-width: 1830px)
{
    .A_info {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 1720px) 
{
    .A_info {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (max-width: 1630px)
{
    .A_info {
        padding-left: 100px;
        padding-right: 100px;
    }
}


@media screen and (max-width: 1520px)
{
    .A_info {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1420px)
{
    .A_info {
        padding-left: 100px;
    }
    .A_content { gap: 30px; }
    .A_c_1 {
        width: 800px;
        gap: 20px;
    }
    .A_c_1 > img {
        padding-top: 80px;
        height: 150px;
    }
}

@media screen and (max-width: 1300px)
{
    .A_info {
        padding-left: 70px;
    }
    .A_content { gap: 20px; }
    .A_c_1 {
        width: 800px;
        gap: 20px;
    }
    .A_c_1 > img {
        padding-top: 100px;
        height: 140px;
    }
    .Ptypefolder {
        width: 250px;
    }
}
@media screen and (max-width: 1210px)
{
    .A_info {
        padding-left: 70px;
    }
    .A_content { gap: 20px; }
    .A_c_1 {
        width: 800px;
        gap: 20px;
    }
    .A_c_1 > img {
        padding-top: 100px;
        height: 140px;
    }
    .Ptypefolder {
        width: 200px;
    }
    .Ptypefolder > div {
        padding-left: 30px;
    }
}